const config = {
    podstawowe: {
        token: 'xxxxxxxxxx',
        color: '#61BA72',
        serverid: '1234567890'
    },
    auto_mod: {
        role: '1234567890',
        word: ["http", "https"], //Sprawdza na każdym kanale
        time: '1', //czas w minutach
        // \/ Sprawdza na danych kanałach dane wyrazy
        list: [
            { channelid: '1234567890', word: ["jd", "test 2"] },
            { channelid: '1234567890', word: ["test"] }
        ]
    },
    powiadomienia_dm: {
        role: '1234567890',
        channel: '1234567890',
        embed: {
            title: `Nowe zamówienie`,
            UUID: `UUID:`,
            amount: `Kwota zakupu:`,
            method: `Metoda płatności:`,
            created_at: `Data zamówienia:`,
            items: `Produkty:`
        },
        button: {
            label: `Przejdź do zamówienia`
        }
    }
}
module.exports = config;
