APP_NAME=dzikshop
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_HOST=dzikshop.pl
APP_URL="https://${APP_HOST}"
ASSET_URL="/"

APP_LOCALE=pl
APP_TIMEZONE=Europe/Warsaw

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=redis

LOG_CHANNEL=stack
LOG_STACK=daily,errorlog
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=dzikshop
DB_USERNAME=dzikshop
DB_PASSWORD=dzikshop

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN="${APP_HOST}"

BROADCAST_CONNECTION=redis
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=dzikshop
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=dzikshop
AWS_ENDPOINT=
AWS_URL=

BACKUP_ARCHIVE_PASSWORD=

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0

OCTANE_HTTPS=true